* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt";
}

body {
    margin: 0 64px;
}

/* ---------------UTILITIES--------------- */


.u-spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.u-link {
    text-decoration: none;
    color: black;
}

.u-link:hover {
    text-decoration: none;
    color: black;
    border-bottom: 0.15rem solid black;
}

/* -----------------HEADER----------------- */

.Header {
    background-color: white;
    padding: 64px 0;
}

.Nav-list,
.Footer-socialmedia {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

/* ------------------MAIN------------------ */

.Main {
    width: 100%;
}

.Main-text {
    font-size: 1.3rem;
}

.Gallery {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.Gallery-images {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 10px;
}

.Gallery-img {
    width: 100%;
    height: 100%;
}

.Gallery-link {
    font-size: 1.7rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

/* -----------------FOOTER----------------- */

.Footer {
    padding: 40px 0;
    border-top: 0.2px solid #8d8d8d;
}